<div class="portlet-data">
	<div id="NotificationListPortlet-RootData">
		<script id="NotificationListPortlet-List" type="text/html">
			<% for(var i=0; i<notifs.length; i++) { %>
				<% if (notifs[i].checked == 1) { %>
					<div class="gold-list">
						<img src="<%=notifs[i].avatar%>" class="img bkp_pic_profile">
						<div class="gl-content"><a style="font-weight: normal" href="<%=notifs[i].link%>"><%=notifs[i].content%></a></div>
					</div>
				<% } else { %>
					<div class="gold-list" style="background-color: #D8E4F1; border: 1px solid #3C78B5">
						<img src="<%=notifs[i].avatar%>" class="img bkp_pic_profile">
						<div class="gl-content"><a style="font-weight: normal" href="<%=notifs[i].link%>"><%=notifs[i].content%></a></div>
					</div>
				<% } %>
			<% } %>
		</script>
		<script id="NotificationListPortletView" type="text/html">
			<div id="NotificationListPortlet-Main" class="box2">
            	<div class="box2-title">
                	<label>Thông báo mới của bạn</label>
					<span style="float: right; padding: 0 2px; margin: 0px" class="box2-content announce">
						<a onclick="generateEvent('FetchAllNotification')" id="NotificationListPortlet-Number">0</a>
					</span>
            	</div><!-- box2-title -->
           		<div id="NotificationListPortlet-Content" class="box2-content" style="display: none">
            	</div><!-- box2-content -->
            </div><!-- box2 -->
		</script>
	</div>
</div>