<div class='portlet-data'>
	<div id='UserBrowserPortlet-RootData'>
		<script type="text/html" id='UserBrowserPortletView'>
        	<div id="UserBrowserPortlet-ContentPlaceholder">
        		<div id="UserBrowserPortlet-ContentPlaceholder-MaxScore"></div>
        		<div id="UserBrowserPortlet-ContentPlaceholder-TopRank"></div>
        		<!--<span class="more"><a href="#!page/AllUsers">Xem tất cả</a></span>-->
        	</div>
		</script>
		<script type="text/html" id='UserBrowserPortlet-TopRankList'>
			<% for(var i=0; i< users.length/6; i++) { %>
				<ul>
					<% for(var j=0; j<6; j++) { %>
						<% if (users[i*6+j] != undefined) { %>
							<li class="left"><a href="#!page/Profile/id/<%=users[i*6+j].userID%>"><%=users[i*6+j].name%></a> (<%=users[i*6+j].ranks%>)</li>
						<% } %>
					<% } %>
				</ul>
			<% } %>
		</script>
		<script type="text/html" id='UserBrowserPortlet-MaxScoreList'>
			<% for(var i=0; i< users.length/6; i++) { %>
				<ul>
					<% for(var j=0; j<6; j++) { %>
						<% if (users[i*6+j] != undefined) { %>
							<li class="left"><a href="#!page/Profile/id/<%=users[i*6+j].id%>"><%=users[i*6+j].name%></a> (<%=users[i*6+j].score%>)</li>
						<% } %>
					<% } %>
				</ul>
			<% } %>
		</script>
	</div>
</div>