@CHARSET "UTF-8";

.ui-widget-header {
	background: none;
	border: none;
}

.ui-widget-content {
	background: none;
	border: none;
}

.ui-tabs-panel {
	padding: 0px;
}

.ui-tabs {
	padding: 0px;
}

.ui-menu {
	border: 1px solid;
	background-color: #FFFFFF;
}

.ui-tab-font {
	text-decoration: underline;
}

.ui-widget-header li.ui-state-active {
	font-weight: bold;
	background: none repeat scroll 0 0 #FFF;
	top: 3px;
}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover { 
		border: 1px solid #585858; 
		background: #DADADA;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	background: none repeat-x scroll 50% 50% #E6E6E6;
	border: 1px solid #D3D3D3;
	color: #999;
	font-weight: normal;
}

li.ui-state-default a {
	outline: 0pt none;
}

#friends span a {
	border: none;
}

#friendsPerson span a {
	border: none;
}

#friends * {
	display: inline-block;
}	

li.ui-menu-item a.ui-auto-item-expertise span.ui-auto-item-expertise-label {
	font-weight: normal;
	margin-left: 5px;
	font-size: 10px;
	color: #AAA;
	display: inline-block;
}

li.ui-menu-item a.ui-auto-item-expertise {
	display: inline-block;
	font-weight: bold !important;
}

ul.ui-menu{
	width : 500px;
	overflow : hidden; 
}

ul.ui-menu li.ui-menu-item a{
	color: black;
	font-weight: normal;
	padding: 5px;
	display: block;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-border-radius: 0px;
}

ul.ui-menu li.ui-menu-item a.ask	{
	color: blue;
}

ul.ui-menu li.ui-menu-item a.person	{
	color: blue;
}

ul.ui-menu li.ui-menu-item a.person img	{
	height: 30px;
	width: 30px;
	float: left;
}

ul.ui-menu li.ui-menu-item a.person .person-name	{
	margin-left: 5px;
}

li.ui-menu-item span.ui-button-text {
	display: inline-block;
	width: auto;
	position: relative;
	text-indent: 0;
	color: #AAA;
	text-decoration: none;
	margin-left: 5px;
}

