<div class='portlet-data'>
    <div id='AnswerPortlet-RootData'>
    	<script type="text/html" id="AnswerPortlet-QContentEdit">
    		<input onblur="generateEvent('SubmitQuestionContent')" onkeyup="generateEvent('SubmitQuestionContentKeyup')" class="text" type="text" style="width: 400px" value="<%=oldContent%>">
    	</script>
		<script type="text/html" id="AnswerPortlet-QDetailEdit">
    		<textarea onblur="generateEvent('SubmitQuestionDetail')" onkeyup="generateEvent('SubmitQuestionDetailKeyup')" class="textarea" style="width: 400px" ><%=oldContent%></textarea>
    	</script>
		<script type="text/html" id="AnswerPortlet-QEditControlTmpl">
    		<div class="rowright"><a onclick="generateEvent('CancelSubmitQuestionEdit')" class="button2">Hủy</a><a onclick="generateEvent('SubmitQuestionContent')" class="button2">Cập nhật</a></div>
    	</script>
        <script type="text/html" id="AnswerPortletView">
            <div id="AnswerPortlet-AnswerPortlet" class="extension-point" extensionName="PostExtension">
            	<div class="bluebox">
	           		<div class="bluebox_content">
                    	<div class="left">
                        	<a><img class="avatar60 bkp_pic_profile" src="avatar/<%=avatar%>" alt="avatar" /></a>
							<div class="bubble bubble-2 cb-c">
								<a onclick="generateEvent('VoteUpQuestion', {id: <%=qid%>})">
									<span class="count" id="AnswerPortlet-QVote"></span>
								</a>
							</div>
							<div id="AnswerPortlet-ChangeTopic" class="me_too">
								<div class="inset" style="height:15px">
									<a onclick="generateEvent('ChangeTopicButtonClick')" class="edit-topic"></a>
									<br/>
								</div>
							</div>
                        </div><!-- end q-left -->
                        <div class="right">
                            <div class="topic_list" id="AnswerPortlet-TopicArea"></div>
                        	<div class="right_detail">
                            	<div class="question_title" id="AnswerPortlet-QContent"><%=qcontent%></div> 
                            	<div class="question_detail" id="AnswerPortlet-QDetail"><%=qdetail%></div>
                            	<div class="note">
                            		<span>Bởi</span><%=quser%><%=qusertarget?"<span>hỏi</span> "+qusertarget:""%> <span><%=$.timeFormat(qdate)%></span>
                            	</div>
                            </div>
                        </div><!-- end q-right -->
                    </div><!-- end bluebox_content -->
                </div><!-- end bluebox -->
                <div class="control_bar extension-point" extensionName="QuestionTask">
                	<a class="widget_button" onclick="generateEvent('MakeNewSimilarQuestion',{id: '<%=qid%>'})">Đặt câu hỏi tương tự</a>
                	<span id="AnswerPortlet-QEditControl"></span>
                </div><!-- end control bar -->
									
				<div class="lightbox">
           			<div class="lightbox_content">
           				<div id="AnswerPortlet-AnswersList"></div>
						<div id="AnswerPortlet-TextAreaContainer"></div>
						<div id="AnswerPortlet-HiddenAnswers">
							<div>
								<a style="color: #202020; text-decoration: underline;" onclick="$('#AnswerPortlet-HiddenAnswersList').toggle()"><span id="AnswerPortlet-HiddenAnswerNo">0</span> câu trả lời bị ẩn</a>. <a href="#!page/GoodAnswer">Tại sao câu trả lời lại bị ẩn</a>
							</div>
							<div style="display: none" id="AnswerPortlet-HiddenAnswersList"></div>
						</div>
					</div><!-- end lightbox_content-->
				</div><!-- end lightbox-->
            </div>
        </script>
		
		<script type="text/html" id="AnswerPortlet-MCE">
			<div class="answerinput_outer">
            	<div class="announce">
            		<span>Bạn chỉ có thể <b> lời 1 lần </b>và chỉ có thể sửa câu trả lời của mình sau khi đã trả lời. 
					Để có thể đưa ra câu trả lời tốt, bạn nên đọc <a target="_blank" href="#!page/GoodAnswer">tiêu chí đánh giá một câu trả lời tốt</a>.
					Những câu trả lời bị nhiều đánh giá không tốt có thể <b>bị ẩn</b> đi.
					</span>
            	</div>
            	<div class="row">
            		<textarea id="AnswerPortlet-AnswerTextEditor" class="textarea"></textarea>
            	</div>
            	<div class="answer_button">
            		<span onclick="generateEvent('SubmitAnswer', {id: 'AnswerPortlet-AnswerTextEditor'})" class="green_button">
               			Trả lời câu hỏi
               		</span>
            	</div>
            </div>
		</script>
		
        <script type="text/html" id="AnswerPortlet-UserLink">
			<a href="#!page/Profile/id/<%=quserid%>" class="small-user"><%=qusername%></a>
		</script>
		
        <script type="text/html" id="AnswerPortlet-Item">
        	<div class="answer_outer">
        		<div class="left">
        			<a href="#!page/Profile/id/<%=uid%>"><img class="avatar40 bkp_pic_profile" src="avatar/<%=uimglink%>" alt="avatar" /></a>
        		</div><!-- end left -->
        		<div class="right">
        			<a href="#!page/Profile/id/<%=uid%>" class="title"><%=uname%></a><br />
      				<span extensionId="<%=uid%>" class="note_left extension-point" extensionName="AnswerProfileName"></span>
                	
                	<div class="count_right" onclick="generateEvent('VoteAnswerIncrease', {id: <%=aid%>})">
        				<span id="AnswerPortlet-AVote-<%=aid%>"><%=avote%></span>
        			</div>
        			<div class="note note_right">
            				<%=$.timeFormat(adate)%>
            		</div>
                </div><!-- end right -->
                <div class="right_detail">
                    	<div aid="<%=aid%>" class="ans-content">
                    		<%=acontent%>
						</div>
						<% if (negatives.length > 0) { %>
							<div class="negative-comment">
							<% for(var i=0;i<negatives.length;i++) { %>
								<%=negatives[i]%><br>
							<% } %>
							</div>
						<% } %>
                        <div class="vote-outer">
            			</div><!-- vote-outer -->
            			
                    </div><!-- end right_detail -->
					<div extensionName="AnswerExtension" aid="<%=aid%>" uid="<%=uid%>" class="extension-point">
						<div class="ans-control row _text_right"></div>
						<div class="ans-extension-area"></div>
					</div>
            </div><!-- answer_outer -->
        </script>
		
		<script type="text/html" id="AnswerPortlet-HiddenItem">
        	<div class="answer-outer">
                <div class="answer-top">
                     <div class="top-middle">
                     	<a href="#!page/Profile/id/<%=uid%>" class="title"><%=uname%></a>
      					<span extensionId="<%=uid%>" style="display: block;" class="extension-point" extensionName="AnswerProfileName"></span>
                     </div>
                  </div>
                  <div class="answer-item">
                     <div class="ans-middle">
                        <div class="row">
                        	<div class="listview">
                                <div class="row">
                                	<div aid="<%=aid%>" class="ans-content">
                                		<%=acontent%>
									</div>
									<div class="box2">
										<% for(var i=0;i<negatives.length;i++) { %>
											<div class="box2-content announce">
												<%=negatives[i]%>
											</div>
										<% } %>
									</div>
                                    <div class="vote-outer">
                        			</div><!-- vote-outer -->
                                </div>
            				</div><!-- listview -->
                        </div>
                    </div><!-- ans-middle -->
                </div><!-- answer-item -->
            </div><!-- answer-outer -->
        </script>
        <script type="text/html" id="AnswerPortlet-Topic">
        	<a href="#!page/Topic/id/<%=cid%>" id="topicToken-<%=tid%>" uid="<%=uid%>" cid="<%=cid%>" class="tag-label extension-point" extensionName="CheckTopicEditable"><%=content%></a>
        </script>
        <script type="text/html" id="AnswerPortlet-TextArea">
            <div id="answer-editor-<%=aid%>-<%=uid%>" style="display:none; margin-top: 10px;">
                <textarea id="editor_<%=aid%>_<%=uid%>" style="width:100%">
                </textarea>
                </br>
                <div style="display: inline-block; position: relative; width:100%" class="bkp_box_footer">
                    <div class="round_button" onclick="generateEvent(&apos;RejectChanges&apos;,{uid:&apos;<%=uid%>&apos;, aid:&apos;<%=aid%>&apos;})">
                        Hủy
                    </div>
                    <div class="round_button" onclick="generateEvent(&apos;AcceptChanges&apos;,{uid:&apos;<%=uid%>&apos;, aid:&apos;<%=aid%>&apos;})">
                        Cập nhật
                    </div>
                </div>
            </div>
    	</script>
    </div>
</div>