<div class='portlet-data'>
	<div id='ProfileFinishPortlet-RootData'>
		<script type="text/html" id='ProfileFinishPortletView'>
			<div class="box2">
            	<div class="box2-title">
                	<label>Hoàn tất thông tin cá nhân</label>
                    <div class="profile-status">
                    	<div style="width: <%=finish%>%" class="ps-bar"></div>
                        <span><%=finish%>%</span>
                    </div>
            	</div><!-- box2-title -->
           		<div class="box2-content">
                	<div>
                		<% for (var i=0;i<msgs.length; i++) { %>
                			<p><%=msgs[i]%></p>
						<% } %>
                    </div>
                    <div class="box2-button">
                    	<a href="#!page/UserAvatarEdit" class="edit-profile">Sửa hồ sơ</a>
                    </div>
            	</div><!-- box2-content -->
            </div><!-- box2 -->
		</script>
	</div>
</div>