<div class='portlet-data'>
    <div id='ListFollowingPortlet-RootData'>
		<script type="text/html" id="ListFollowingPortletView">
			<% if (list.length > 0) { %>
				<div>
					<%=pronoun.charAt(0).toUpperCase()+pronoun.substr(1)%> đang follow <%=list.length%> người:
				</div>
				<% for (var i=0;i<list.length&&i<10;i++) { %>
					<a title="<%=list[i].name%>" href="#!page/Profile/id/<%=list[i].id%>">
						<img class="avatar24 bkp_pic_profile" src="avatar/<%=list[i].avatar%>" alt="<%=list[i].name%>" />
					</a>
				<% } %>
			<% } %>
		</script>
	</div>
</div>